<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="logo"><span class="emph">N</span>atural<br><span class="emph">l</span>anguage<br><span
                class="emph">p</span>rocessing</div>
        <div class="navigation">
            <ul>
                <li><a href="">Documentation</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">Terms of use</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section>
            <h1 class="form">Article Sentiment Analysis</h1>
            <form onsubmit="return Client.handleSubmit(event)">
                <label for="title">Enter your URL of your article here</label>
                <input id="url" type="text" name="url" value="" placeholder="URL">
                <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section>
            <h2>Results</h2>
            <div class="results">
                <div id="polarity"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </div>
        </section>
    </main>

    <footer>
        <ul>
            <li><a href="">Site map</a></li>
            <li>NPL all rights reserved &copy;</li>
        </ul>
    </footer>
    <script>
        /*         // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }  */
    </script>
</body>

</html>