@use 'shared';

footer {
    display: flex;
    justify-content: flex-end;

    ul {
        width: fit-content;
        background-color: shared.$side-color;
        border-radius: shared.$border-radius;
        padding: shared.$padding;
        ;
    }

    li {
        display: inline;
        font-size: .75rem;
    }
}