
footer{
    display: flex;
    justify-content:flex-end;    
}

footer ul{
    width:fit-content;
    background-color:#00f5d4;
    border-radius:0px 20px 0px 20px;
    padding:20px;
}
footer li{
    display:inline;
    font-size:.75rem;
}