form {
    border-radius:20px 0px 20px 0px;
    padding: 40px;
    background-color:#feee85;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 20px;
}

input[submit]{
    border-radius:20px;
}

label {
    font-weight:800;
}

h1.form {
    text-align: center;
}
