@use 'shared';

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    //   display: hidden;
    width: fit-content;
    height: fit-content;
    //   background: url("../views/logo.png") center;
    background-color: shared.$side-color;
    border-radius: shared.$border-radius;
    padding: shared.$padding;
    font-size: 1.25rem;
    line-height: 2rem;
}

.navigation {
    ul {
        border-radius: 0px 10px 0px 20px;
        background-color: shared.$side-color;
        padding: shared.$padding;
        font-size: 1.15rem;
    }

    li {
        padding-bottom: 1.15rem;
    }

}

.logo .emph {
    text-transform: uppercase;
    font-weight: shared.$font-weight;
}